<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
</head>
<body style="display: flex;justify-content: center;flex-direction: column;align-items: center;width: 100%;height: 100%;">
    <h1>ChatBot</h1>
    <form action="/backend" method="post">
        <label for="user_input">Enter your input:</label><br>
        <input type="text" id="user_input" name="user_input"><br>
        <button type="submit" style="margin-top: 10px;">Submit</button>
    </form>
    {% if response_data %}
        <p style="padding-top: 30px;font-size: 18px;width: 50%;">{{ response_data }}</p>
    {% endif %}
</body>
</html>